<!DOCTYPE html>
<html class="h-full">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= name %> - Login</title>
  <link href="../assets/tailwind.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://cdn.fontshare.com">
  <link href="https://api.fontshare.com/v2/css?f[]=general-sans@500,300,600,400,700&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'General Sans'" class="bg-[#141414] h-full">
<div class="min-h-full flex">
  <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <% if (logo == true) { %><img class="h-12 w-auto" src="../assets/logo.png"> <% } %>
        <h2 class="<% if (logo == true) { %>mt-6<% } %> text-3xl font-medium text-white"><%= req.translations.signInTo %> <%= name %></h2>
        <p class="mt-2 text-sm font-normal text-neutral-500">
          <%= req.translations.credentialsDetails %>
        </p>
      </div>

      <div class="mt-8">
        <div class="mt-6">
          <form id="login-form" class="space-y-6" onsubmit="event.preventDefault(); submitForm();">
            <div>
              <label for="email" class="block text-sm font-medium text-neutral-400"> <%= req.translations.usernameOREmail %> </label>
              <div class="mt-2">
                <input placeholder="example" id="username" autocomplete="username" required class="appearance-none block w-full px-3 py-2 bg-white/10 border border-transparent rounded-xl placeholder-neutral-500 focus:outline-none focus:ring-neutral-500 focus:border-neutral-500 text-white transition sm:text-sm">
              </div>
            </div>

            <div class="space-y-1">
              <label for="password" class="block text-sm font-medium text-neutral-400"> <%= req.translations.passwordLabel %> </label>
              <div class="mt-2">
                <input placeholder="********" id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none block w-full px-3 py-2 bg-white/10 border border-transparent rounded-xl placeholder-neutral-500 focus:outline-none focus:ring-neutral-500 focus:border-neutral-500 text-white transition sm:text-sm">
              </div>
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 text-neutral-600 focus:ring-neutral-500 border-white/10 bg-white/5 rounded">
                <label for="remember-me" class="ml-2 block text-sm text-neutral-400"> <%= req.translations.rememberMe %> </label>
              </div>

              <div class="text-sm">
                <a href="/auth/reset-password" class="font-normal text-neutral-500 hover:text-white transition "><%= req.translations.forgotPassword %></a>
              </div>
            </div>

            <div>
              <a onclick="submitForm()" class="w-full cursor-pointer flex transition justify-center py-2 px-4 border border-transparent rounded-xl shadow-sm text-sm font-medium text-neutral-800 bg-white hover:bg-neutral-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-500">
                Sign in
              </a>
            </div>
            
            <% if (settings.register) { %>
            <!-- <div class="text-center mt-4">
              <a href="/register" class="w-full cursor-pointer flex transition justify-center py-2 px-4 border border-transparent rounded-xl shadow-sm text-sm font-medium text-white bg-emerald-500 hover:bg-emerald-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500">Register</a>
            </div> -->

            <div class=" mt-6 text-sm text-neutral-500 py-[-50px]">
              <!-- <a href="/register" class="font-normal text-neutral-500 hover:text-white transition ">Don't have an account? Create one!</a> -->
              Need an account? <a href="/register" class="font-normal text-neutral-500 hover:text-white transition ">Register</a>
            </div>
            <% } %>

            <% if (req.query.err && req.query.err == "InvalidCredentials") { %>
              <div class="mt-2"></div>
              <span class="text-amber-600 pt-4 font-normal text-sm">Invalid credentials. Please try again.</span>
            <% } %>

            <% if (req.query.err && req.query.err == "UpdatedCredentials") { %>
              <div class="mt-2"></div>
              <span class="text-emerald-600 pt-8 font-normal text-sm">Your account has been updated, please enter your new credentials.</span>
            <% } %>

            <% if (req.query.msg && req.query.msg == "EmailVerified") { %>
              <div class="mt-2"></div>
              <span class="text-emerald-600 pt-8 font-normal text-sm">Your account has been Verified, you can login now.</span>
            <% } %>
            <% if (req.query.msg && req.query.msg == "InvalidVerificationToken") { %>
              <div class="mt-2"></div>
              <span class="text-amber-600 pt-4 font-normal text-sm">Your verification link invalid or expire, please try again.</span>
            <% } %>
            <% if (req.query.msg && req.query.msg == "VerificationEmailResent") { %>
              <div class="mt-2"></div>
              <span class="text-emerald-600 pt-8 font-normal text-sm">Your verification link resent successfully, check your email.</span>
            <% } %>
            <% if (req.query.msg && req.query.msg == "UserNotFound") { %>
              <div class="mt-2"></div>
              <span class="text-amber-600 pt-4 font-normal text-sm">User not found, please try again.</span>
            <% } %>
            <% if (req.query.msg && req.query.msg == "UserAlreadyVerified") { %>
              <div class="mt-2"></div>
              <span class="text-amber-600 pt-4 font-normal text-sm">Your account is already verified, you may sign in.</span>
            <% } %>
            <% if (req.query.msg && req.query.msg == "AccountcreateEmailSent") { %>
              <div class="mt-2"></div>
              <span class="text-emerald-600 pt-8 font-normal text-sm">Your account was successfully created - please check your email to continue.</span>
            <% } %>
            <% if (req.query.msg && req.query.msg == "AccountCreated") { %>
              <div class="mt-2"></div>
              <span class="text-emerald-600 pt-8 font-normal text-sm">Your account was successfully created, you may sign in now.</span>
            <% } %>
            <% if (req.query.err && req.query.err === "UserNotVerified") { %>
              <div class="mt-6 text-center">
                <p class="text-red-500 text-lg font-medium mb-2">Your account isn't verify, please check your email. <a href="/resend-verification" class="text-red-300 hover:text-red-400 transition">Resend Email</a></p>
              </div>
            <% } %>                                                                                 

            <% if (req.query.msg && req.query.msg === 'PasswordReset') { %>
              <% if (req.query.state && req.query.state === 'success') { %>
                <span class="text-emerald-600 pt-8 font-normal text-sm"><%= req.translations.passwordResetSuccess %></span>
              <% } else if (req.query.state && req.query.state === 'failed') { %>
                <span class="text-red-500 pt-4 font-normal text-sm"><%= req.translations.passwordResetFailed %></span>
              <% } %>
            <% } %>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden lg:block relative w-0 flex-1">
    <img class="absolute inset-0 h-full w-full object-cover" src="https://i.imgur.com/j9BodUY.jpeg" alt="image">
  </div>
</div>

<script>
  async function submitForm() {
    let username = encodeURIComponent(document.getElementById("username").value);
    let password = encodeURIComponent(document.getElementById("password").value);
    document.location.href = `/auth/login?username=${username}&password=${password}`;
  }
  
  document.getElementById('login-form').addEventListener('keypress', function(event) {
  if (event.key === 'Enter') {
    event.preventDefault();
    let username = document.getElementById("username").value.trim();
    let password = document.getElementById("password").value.trim();

    if (username !== "" && password === "") {
      document.getElementById("password").focus();
    } else {
      submitForm();
    }
  }
});

  async function submitForm() {
    let username = document.getElementById("username").value.trim();
    let password = document.getElementById("password").value.trim();
    
    if (username === "" || password === "") {
      document.location.href = `/auth/login?err=InvalidCredentials&state=failed`;
      return;
    }
    
    let encodedUsername = encodeURIComponent(username);
    let encodedPassword = encodeURIComponent(password);
    
    document.location.href = `/auth/login?username=${encodedUsername}&password=${encodedPassword}`;
  }
</script>

</body>
</html>