<%- include('../components/template') %>
<main id="content">
  <div class="bg-transparent">
    <div class="sm:flex sm:items-center px-8 pt-4">
      <div class="sm:flex-auto">
        <h1 class="text-base font-medium leading-6 text-white"><%= req.translations.auditLogs %></h1>
        <p class="mt-1 tracking-tight text-sm text-neutral-500">
          <%= req.translations.auditLogsText %>
        </p>
        <div class="mt-4 text-neutral-500">
          <div class="mt-8">
            <% if (audits && audits.length > 0) { %>
              <table class="min-w-full table-auto border-separate border border-white/5 shadow rounded-xl">
                <thead>
                  <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"><%= req.translations.user %></th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"><%= req.translations.action %></th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"><%= req.translations.addressIP %></th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"><%= req.translations.timestamp %></th>
                  </tr>
                </thead>
                <tbody class="bg-transparent divide-y divide-neutral-200">
                  <% audits.forEach(function(audit) { %>
                    <tr>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white">
                        <% if (audit.userId === req.user.userId) { %>
                          <%= req.translations.you %> <span class="text-neutral-400">(<%= audit.userId %>)</span>
                        <% } else { %>
                          <%= audit.username %>  <span class="text-neutral-400">(<%= audit.userId %>)</span>
                        <% } %>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-neutral-500"><%= audit.action %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-neutral-500"><%= audit.ip %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-neutral-500"><%= new Date(audit.timestamp).toLocaleString() %></td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            <% } else { %>
              <p class="text-sm text-neutral-500"><%= req.translations.auditLogsNotAvailable %></p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('../components/footer') %>