<%- include('../components/template') %>
<main id="content">
  <div class="bg-transparent">
    <div class="sm:flex sm:items-center px-8 pt-4">
      <div class="sm:flex-auto">
        <h1 class="text-base font-medium leading-6 text-white"><%= req.translations.editUser %></h1>
        <p class="mt-1 tracking-tight text-sm text-neutral-500">
          <%= req.translations.editUserDetails %>
        </p>
      </div>
    </div>
    <div id="editUserForm" class="mt-6 px-8 w-full">
      <form action="/admin/users/edit/<%= editUser.userId %>" method="POST">
        <label class="text-neutral-400 text-sm tracking-tight mb-2"><%= req.translations.username %>:</label>
        <input
          id="userName"
          type="text"
          name="username"
          class="rounded-xl focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-6 w-96 items-center transition justify-left gap-16 hover:bg-white/5 px-4 py-2 flex border-white/5 bg-neutral-900 placeholder:text-white/20 text-white border border-black/10"
          value="<%= editUser.username %>"
          placeholder="<%= req.translations.usernamePlaceholder %>"
        />
        <label class="text-neutral-400 text-sm tracking-tight mb-2"><%= req.translations.email %>:</label>
        <input
          id="email"
          type="email"
          name="email"
          class="rounded-xl focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-6 w-96 items-center transition justify-left gap-16 hover:bg-white/5 px-4 py-2 flex border-white/5 bg-neutral-900 placeholder:text-white/20 text-white border border-black/10"
          value="<%= editUser.email %>"
          placeholder="<%= req.translations.emailPlaceholder %>"
        />
        <label class="text-neutral-400 text-sm tracking-tight mb-2"><%= req.translations.passwordLabel %>:</label>
        <input
          id="userPass"
          type="password"
          name="password"
          class="rounded-xl focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-6 w-96 items-center transition justify-left gap-16 hover:bg-white/5 px-4 py-2 flex border-white/5 bg-neutral-900 placeholder:text-white/20 text-white border border-black/10"
          placeholder="******"
        />
        <label class="text-neutral-400 text-sm tracking-tight mb-2"><%= req.translations.passwordLabel %>:</label>
        <select
          id="userAdmin"
          name="admin"
          class="rounded-xl focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-6 w-96 items-center transition justify-left gap-16 hover:bg-white/5 px-4 py-2 flex border-white/5 bg-neutral-900 placeholder:text-white/20 text-white border border-black/10"
        >
          <option value="true" <%= editUser.admin ? 'selected' : '' %>><%= req.translations.true %></option>
          <option value="false" <%= !editUser.admin ? 'selected' : '' %>><%= req.translations.false %></option>
        </select>
        <label class="text-neutral-400 text-sm tracking-tight mb-2"><%= req.translations.verifiedStatus %>:</label>
        <select
          id="userVerified"
          name="verified"
          class="rounded-xl focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-6 w-96 items-center transition justify-left gap-16 hover:bg-white/5 px-4 py-2 flex border-white/5 bg-neutral-900 placeholder:text-white/20 text-white border border-black/10"
        >
          <option value="true" <%= editUser.verified ? 'selected' : '' %>><%= req.translations.true %></option>
          <option value="false" <%= !editUser.verified ? 'selected' : '' %>><%= req.translations.false %></option>
        </select>
        <button
          id="saveChangesBtn"
          type="submit"
          class="block rounded-xl bg-white px-3 py-2 text-center text-sm font-medium text-neutral-800 shadow-lg hover:bg-neutral-200 transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
        <%= req.translations.saveChanges %>
        </button>
      </form>
    </div>
  </div>
</main>
<%- include('../components/footer') %>