<%- include('../components/template') %>
<main id="content">
   <div class="bg-transparent">
      <div class="sm:flex sm:items-center px-8 pt-4">
         <div class="sm:flex-auto">
           <h1 class="text-base font-semibold leading-6 text-white">Nodes</h1>
           <p class="mt-1 tracking-tight text-sm text-neutral-500">A list of all the nodes set up on the Skyport panel.</p>
         </div>
         <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
           <button id="createButton" type="button" class="block rounded-lg bg-white px-3 py-2 text-center text-sm font-semibold text-neutral-800 shadow-lg hover:bg-neutral-200 transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Create new node</button>
         </div>
       </div>
      <% if (req.query.err == "none") { %>
      <div class="mt-6 w-full">
        <div class="rounded-lg bg-emerald-800/10 px-4 py-6 mt-8 ml-8 mb-8 mr-8">
          <div class="flex">
             <div class="flex-shrink-0 ml-1.5">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mt-2 text-emerald-400">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                </svg>                
             </div>
             <div class="ml-5">
                <h3 class="text-sm font-semibold text-emerald-400">Success!</h3>
                <div class="text-sm text-emerald-400/50">
                   <p>The action was successfully completed.</p>
                </div>
             </div>
          </div>
       </div>
      <% } %>
      <table id="nodeTable" class="mt-6 w-full whitespace-nowrap text-left">
        <colgroup>
          <col class="w-full sm:w-4/12">
          <col class="lg:w-4/12">
          <col class="lg:w-2/12">
          <col class="lg:w-1/12">
          <col class="lg:w-1/12">
        </colgroup>
        <thead class="border-b border-white/5 text-sm leading-6 text-white">
          <tr>
            <th scope="col" class="py-2 pl-0 pr-8 font-semibold sm:pl-80 lg:pl-8">Name</th>
            <th scope="col" class="py-2 pl-0 pr-8 font-semibold sm:table-cell">Connection</th>
            <th scope="col" class="py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-20">Instances</th>
			<th scope="col" class="py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-20">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-white/5">
         <% nodes.forEach(function(node) { %>
          <tr>
            <td class="py-4 pl-4 pr-8 sm:pl-8 lg:pl-8">
			  <div class="flex items-center gap-x-4">
			  <% if (node.status == "Online") { %>
				  <div class="flex items-center justify-end gap-x-2 sm:justify-start">
					<div class="flex-none rounded-full p-1 text-emerald-400 bg-emerald-600/10">
					  <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
					</div>
				  </div>
				<% } else if (node.status == "Offline") { %>
				   <div class="flex items-center justify-end gap-x-2 sm:justify-start">
					  <div class="flex-none rounded-full p-1 text-neutral-600 bg-neutral-600/10">
						<div class="h-1.5 w-1.5 rounded-full bg-current"></div>
					  </div>
				   </div>
				<% } else { %>
				   <div class="flex items-center justify-end gap-x-2 sm:justify-start">
					  <div class="flex-none rounded-full p-1 text-neutral-400 bg-neutral-400/10">
						 <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
					  </div>
				   </div>
				<% } %>

                <div class="truncate text-sm font-medium leading-6 text-white"><%= node.name %></div>
              </div>
            </td>
            <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
              <div class="flex gap-x-3">
                <div class="font-mono text-sm leading-6 text-neutral-400"><%= node.address %><span class="text-neutral-500">:<%= node.port %></span></div>
                <div class="rounded-lg bg-neutral-800/40 px-2 py-1 text-xs font-medium text-neutral-400 ring-1 ring-inset ring-white/10"><%= node.versionRelease || 'unknown' %></div>
              </div>
            </td>
            <td class="hidden py-4 pl-0 pr-8 text-sm leading-6 text-neutral-400 md:table-cell lg:pr-20"><%= set[node.id] || 0 %></td>
			<td class="py-4 pl-0 pr-4 text-sm leading-6 sm:pr-8 lg:pr-20 flex gap-3">
        <div class="inner"><button onclick="configureNode('<%= node.id %>')" type="button" class="block rounded-lg bg-white px-3 py-2 text-center text-sm font-semibold text-neutral-800 shadow-lg hover:bg-gray-50 transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Configure</button></div>
				<div class="inner"><a href="./node/<%= node.id %>"><button id="editButton" type="button" class="block rounded-lg bg-white px-3 py-2 text-center text-sm font-semibold text-neutral-800 shadow-lg hover:bg-gray-50 transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Edit</button></a></div>
				<div class="inner"><button id="removeButton" onclick="location.href='/admin/nodes/delete/<%= node.id %>'" type="button" class="block rounded-lg bg-red-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-lg hover:bg-red-500 transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Remove</button></div>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <div id="notification" class="fixed bottom-5 right-5 bg-white/5 text-white px-4 py-2 rounded-lg shadow-lg transform transition-all duration-300 translate-y-full opacity-0">
        Command copied to clipboard!
      </div>
      </div>
      <div id="nodeForm" class="mt-6 px-8 w-full hidden">
        <form>
         <label class="text-neutral-400 text-sm tracking-tight mb-2">Name:</label>
         <input id="nodeName" class="rounded-lg focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-6 w-96 items-center transition justify-left gap-16 hover:bg-white/5 px-4 py-2 flex border-white/5 bg-neutral-900 placeholder:text-white/20 text-white border border-black/10" placeholder="My Node">

         <label class="text-neutral-400 text-sm tracking-tight mb-2">RAM (GB):</label>
         <input id="nodeRam" class="rounded-lg focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-6 w-96 items-center transition justify-left gap-16 hover:bg-white/5 px-4 py-2 flex border-white/5 bg-neutral-900 placeholder:text-white/20 text-white border border-black/10" placeholder="This is only for information purposes.">

         <label class="text-neutral-400 text-sm tracking-tight mb-2">Disk (GB):</label>
         <input id="nodeDisk" class="rounded-lg focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-6 w-96 items-center transition justify-left gap-16 hover:bg-white/5 px-4 py-2 flex border-white/5 bg-neutral-900 placeholder:text-white/20 text-white border border-black/10" placeholder="This is only for information purposes.">

         <label class="text-neutral-400 text-sm tracking-tight mb-2">CPU:</label>
         <input id="nodeProcessor" class="rounded-lg focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-6 w-96 items-center transition justify-left gap-16 hover:bg-white/5 px-4 py-2 flex border-white/5 bg-neutral-900 placeholder:text-white/20 text-white border border-black/10" placeholder="This is only for information purposes.">

         <label class="text-neutral-400 text-sm tracking-tight mb-2">IP Address:</label>
         <input id="nodeAddress" class="rounded-lg focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-6 w-96 items-center transition justify-left gap-16 hover:bg-white/5 px-4 py-2 flex border-white/5 bg-neutral-900 placeholder:text-white/20 text-white border border-black/10" placeholder="192.168.1.1 or my.hostnamehere.com">

         <label class="text-neutral-400 text-sm tracking-tight mb-2">Daemon Port:</label>
         <input id="nodePort" class="rounded-lg focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-6 w-96 items-center transition justify-left gap-16 hover:bg-white/5 px-4 py-2 flex border-white/5 bg-neutral-900 placeholder:text-white/20 text-white border border-black/10" placeholder="3000">
    
         <label class="text-neutral-400 text-sm tracking-tight mb-2">Tags:</label>
         <div id="tagContainer" class="flex flex-wrap gap-2 mb-2"></div>
         <input id="tagInput" class="rounded-lg focus:ring-transparent focus:border-transparent text-white text-sm mt-2 mb-6 w-96 items-center transition justify-left gap-16 hover:bg-white/5 px-4 py-2 flex border-white/5 bg-neutral-900 placeholder:text-white/20 text-white border border-black/10" placeholder="Add a tag and press Enter">

         <button id="createNodeBtn" type="button" class="block rounded-lg bg-white px-3 py-2 text-center text-sm font-semibold text-neutral-800 shadow-lg hover:bg-neutral-200 transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Create</button>
      </form>
    </div>
    </div>
</main>
<script>
  document.getElementById('createButton').addEventListener('click', function() {
    var table = document.getElementById('nodeTable');
    var form = document.getElementById('nodeForm');
    if (table.style.display !== 'none') {
      table.style.display = 'none';
      form.style.display = 'block';
    } else {
      table.style.display = 'block';
      form.style.display = 'none';
    }
  });
</script>
<script>
function createBadge(text, container, inputField) {
    const badge = document.createElement('span');
    badge.className = 'bg-white/5 text-neutral-300 text-xs font-medium mr-1 px-2.5 py-0.5 rounded-lg';
    badge.textContent = text;

    const removeBtn = document.createElement('button');
    removeBtn.className = 'ml-2 text-neutral-600';
    removeBtn.textContent = '×';
    removeBtn.onclick = function() {
      container.removeChild(badge);
    };

    badge.appendChild(removeBtn);
    container.appendChild(badge);
    inputField.value = '';
  }

  async function configureNode(nodeId) {
    try {
      const response = await fetch(`/admin/node/${nodeId}/configure-command`);
      if (!response.ok) {
        throw new Error('Failed to fetch configure command');
      }
      const data = await response.json();
      
      // Copy command to clipboard
      await navigator.clipboard.writeText(data.configureCommand);
      console.log('Configure command: ' + data.configureCommand)
      
      // Show notification
      const notification = document.getElementById('notification');
      notification.classList.remove('translate-y-full', 'opacity-0');
      
      // Hide notification after 3 seconds
      setTimeout(() => {
        notification.classList.add('translate-y-full', 'opacity-0');
      }, 3000);
    } catch (error) {
      console.error('Error configuring node:', error);
      alert('Failed to copy text to clipboard, it will not work unless the Panel is SSL secured. Instead, please check the browser console for the skyportd configure command.');
    }
  }

  function setupBadgeInput(inputId, containerId, validator) {
    const input = document.getElementById(inputId);
    const container = document.getElementById(containerId);

    input.addEventListener('keypress', function(e) {
      if (e.key === 'Enter') {
        e.preventDefault();
        const value = input.value.trim();
        if (value !== '' && (!validator || validator(value))) {
          createBadge(value, container, input);
        } else {
          alert('Invalid format. Ports should be like this: 8080:8080 [external:internal]. For example, if you wanted to assign 8080 to the internal port 2022, you could do: 8080:2022.');
        }
      }
    });
  }

  setupBadgeInput('tagInput', 'tagContainer');

  document.getElementById('createNodeBtn').addEventListener('click', function() {
    const name = document.getElementById('nodeName').value;
    const tags = Array.from(document.getElementById('tagContainer').children).map(badge => badge.textContent.slice(0, -1).trim());
    const ram = document.getElementById('nodeRam').value;
    const disk = document.getElementById('nodeDisk').value;
    const processor = document.getElementById('nodeProcessor').value;
    const address = document.getElementById('nodeAddress').value;
    const port = document.getElementById('nodePort').value;

    const nodeData = {
      name,
      tags: tags.join(' - '),
      ram,
      disk,
      processor,
      address,
      port
    };

    fetch('/nodes/create', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(nodeData)
    })
    .then(response => {
      if (response.ok) {
        return response.json();
      }
      throw new Error('Failed to create node');
    })
    .then(data => {
      console.log('Node created:', data);
      window.location.href = '../admin/nodes?err=SUCCESS'
    })
    .catch(error => alert('Error creating node:', error));
  });
</script>
<%- include('../components/footer') %>
