<%- include('../components/admin_addons_template') %>
<main id="content">
  <div class="bg-transparent">
    <div class="sm:flex sm:items-center px-8 pt-4">
      <div class="sm:flex-auto">
        <h1 class="text-base font-medium leading-6 text-white">Edit Plugin Manifest</h1>
        <p class="mt-1 tracking-tight text-sm text-neutral-500">Edit the content of the manifest.json of the plugin.</p>
      </div>
    </div>
  </div>
</main>

<div class="grid sm:grid-cols-4 gap-6 px-8 py-6">
  <div class="bg-transparent shadow-xl border border-white/5 rounded-xl overflow-hidden w-96 sm:p-6 lg:p-5 mb-6 card" style="width:1600px">
    <label class="text-neutral-400 text-sm tracking-tight mb-2">/plugins/<%= dir %>/<span class="text-white">manifest.json</span></label>
    <div id="editor" class="rounded-xl focus:ring-transparent focus:border-transparent text-white text-sm mt-2 w-full items-center transition justify-left gap-16 hover:bg-white/5 flex border-white/5 bg-neutral-600/20 placeholder:text-white/20 text-white border border-black/10" style="height: 500px;"></div>
    <div class="flex flex-row">
      <button id="save-button" class="mt-6 block rounded-xl <%= theme['button-color'] %> px-3 py-2 text-center text-sm font-medium shadow-lg transition focus:outline focus:outline-2 focus:outline-offset-2">Save</button>
      <button id="save-close-button" class="ml-6 mt-6 block rounded-xl <%= theme['button-color'] %> px-3 py-2 text-center text-sm font-medium shadow-lg transition focus:outline focus:outline-2 focus:outline-offset-2">Save & Close</button>
    </div>
  </div>
</div>

<%- include('../components/footer') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.33.0/min/vs/loader.min.js"></script>
<script>
  require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.33.0/min/vs' }});

  require(['vs/editor/editor.main'], function() {
    var editor = monaco.editor.create(document.getElementById('editor'), {
      value: `<%- content %>`,
      language: 'json',
      theme: 'customTheme',
      automaticLayout: true
    });

    document.getElementById('save-button').addEventListener('click', function() {
      var content = editor.getValue();
      var filename = 'manifest.json';
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/admin/plugins/<%= dir %>/save', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
          console.log('Page content saved successfully.');
        }
      };
      xhr.send(JSON.stringify({ content: content, filename: filename }));
    });

    document.getElementById('save-close-button').addEventListener('click', function() {
      var content = editor.getValue();
      var filename = 'manifest.json';
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/admin/plugins/<%= dir %>/save', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
          console.log('Page content saved successfully.');
        }
      };
      xhr.send(JSON.stringify({ content: content, filename: filename }));
      location.href = '/admin/plugins';
    });

    monaco.editor.defineTheme('customTheme', {
      base: 'vs-dark',
      inherit: true,
      rules: [
        { token: 'delimiter.square.json', foreground: '87ceeb' },
        { token: 'string.quote', foreground: 'ffa500' },
        { token: 'delimiter.json', foreground: '4169e1' }
      ],
      colors: {}
    });
    monaco.editor.setTheme('customTheme');
  });
</script>
