<%- include('../components/template') %>

<main id="content" class="bg-transparent px-8 pt-4">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-white">Settings</h1>
      <p class="mt-1 text-sm text-neutral-500">Change common settings on this Skyport panel.</p>
    </div>
  </div>

  <div class="mt-8 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    <!-- Change Panel Name Form -->
    <div class="bg-transparent shadow-xl border border-white/5 rounded-lg overflow-hidden sm:p-6">
      <form action="/admin/settings/change/name" method="POST">
        <label class="text-neutral-400 text-sm tracking-tight mb-2 block">Panel Name:</label>
        <input id="name" name="name" class="rounded-lg focus:ring-transparent focus:border-transparent text-white text-sm mt-2 w-full px-4 py-2 border-white/5 bg-neutral-900" value="<%= name %>" placeholder="<%= name %>" required>
        <button type="submit" class="mt-4 block rounded-lg bg-white px-3 py-2 text-sm font-semibold text-neutral-800 shadow-lg hover:bg-neutral-200 transition focus:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500">Save</button>
      </form>
    </div>

    <!-- Change Logo Form -->
    <div class="bg-transparent shadow-xl border border-white/5 rounded-lg overflow-hidden sm:p-6">
      <form action="/admin/settings/change/logo" method="POST" enctype="multipart/form-data">
        <div class="flex items-center mb-4">
          <input id="useImage" name="useImage" type="checkbox" class="w-4 h-4 text-neutral-600 bg-transparent border-white/5 rounded focus:ring-neutral-500 focus:ring-2">
          <label for="useImage" class="ml-2 text-sm font-medium text-neutral-400">Use Image</label>
        </div>
        <div id="imageUploadBox" class="hidden mb-4">
          <input type="file" name="logo" id="logo" accept="image/*" class="block w-full text-sm text-neutral-400 file:rounded-lg file:border-0 file:bg-white/5 file:text-neutral-300 hover:file:bg-white/10 transition">
        </div>
        <input type="hidden" name="type" id="logoType" value="none">
        <button type="submit" id="logoButton" class="block rounded-lg bg-white px-3 py-2 text-sm font-semibold text-neutral-800 shadow-lg hover:bg-neutral-200 transition focus:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500">Remove Logo</button>
      </form>
    </div>

    <!-- Toggle Register Page Form -->
    <div class="bg-transparent shadow-xl border border-white/5 rounded-lg overflow-hidden sm:p-6">
      <form action="/admin/settings/toggle/register" method="POST">
        <div class="flex items-center mb-4">
          <% if (settings.register === true) { %>
            <span class="text-sm font-medium text-neutral-400">Turn off Register Page</span>
          <% } else { %>
            <span class="text-sm font-medium text-neutral-400">Turn on Register Page</span>
          <% } %>
        </div>
        <button type="submit" class="block rounded-md bg-white px-3 py-2 text-sm font-semibold text-neutral-800 shadow-lg hover:bg-neutral-200 transition focus:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500">
          <% if (settings.register === true) { %>
            Turn off
          <% } else { %>
            Turn on
          <% } %>
        </button>
      </form>
      <br>
      <form action="/admin/settings/toggle/email-verification" method="POST">
        <div class="flex items-center mb-4">
          <% if (settings.emailVerification === true) { %>
            <span class="text-sm font-medium text-neutral-400">Disable Email Verification</span>
          <% } else { %>
            <span class="text-sm font-medium text-neutral-400">Enable Email Verification</span>
          <% } %>
        </div>
        <button type="submit" class="block rounded-md bg-white px-3 py-2 text-sm font-semibold text-neutral-800 shadow-lg hover:bg-neutral-200 transition focus:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500">
          <% if (settings.emailVerification === true) { %>
            Disable
          <% } else { %>
            Enable
          <% } %>
        </button>
      </form>  
    </div>

    <!-- SMTP Settings Form -->
    <div class="bg-transparent shadow-xl border border-white/5 rounded-lg overflow-hidden sm:p-6">
      <form action="/saveSmtpSettings" method="POST">
        <label for="smtpServer" class="text-neutral-400 text-sm block">SMTP Server:</label>
        <input type="text" id="smtpServer" name="smtpServer" class="rounded-lg focus:ring-transparent focus:border-transparent text-white text-sm mt-2 w-full px-4 py-2 border-white/5 bg-neutral-900" value="<%= settings.smtpSettings ? settings.smtpSettings.server || '' : '' %>" placeholder="<%= smtpServer %>" required>
        
        <label for="smtpPort" class="text-neutral-400 text-sm block mt-4">SMTP Port:</label>
        <input type="number" id="smtpPort" name="smtpPort" class="rounded-lg focus:ring-transparent focus:border-transparent text-white text-sm mt-2 w-full px-4 py-2 border-white/5 bg-neutral-900" value="<%= settings.smtpSettings ? settings.smtpSettings.port || '' : '' %>" placeholder="<%= smtpPort %>" required>
        
        <label for="smtpUser" class="text-neutral-400 text-sm block mt-4">SMTP Username:</label>
        <input type="text" id="smtpUser" name="smtpUser" class="rounded-lg focus:ring-transparent focus:border-transparent text-white text-sm mt-2 w-full px-4 py-2 border-white/5 bg-neutral-900" value="<%= settings.smtpSettings ? settings.smtpSettings.username || '' : '' %>" placeholder="<%= smtpUser %>" required>
        
        <label for="smtpPass" class="text-neutral-400 text-sm block mt-4">SMTP Password:</label>
        <input type="password" id="smtpPass" name="smtpPass" class="rounded-lg focus:ring-transparent focus:border-transparent text-white text-sm mt-2 w-full px-4 py-2 border-white/5 bg-neutral-900" value="<%= settings.smtpSettings ? settings.smtpSettings.password || '' : '' %>" placeholder="*********" required>

        <label for="smtpFromName" class="text-neutral-400 text-sm block mt-4">Mail From Name:</label>
        <input type="text" id="smtpFromName" name="smtpFromName" class="rounded-lg focus:ring-transparent focus:border-transparent text-white text-sm mt-2 w-full px-4 py-2 border-white/5 bg-neutral-900" value="<%= settings.smtpSettings ? settings.smtpSettings.fromName || '' : '' %>" placeholder="<%= smtpFromName %>" required>

        <label for="smtpFromAddress" class="text-neutral-400 text-sm block mt-4">Mail From Address:</label>
        <input type="email" id="smtpFromAddress" name="smtpFromAddress" class="rounded-lg focus:ring-transparent focus:border-transparent text-white text-sm mt-2 w-full px-4 py-2 border-white/5 bg-neutral-900" value="<%= settings.smtpSettings ? settings.smtpSettings.fromAddress || '' : '' %>" placeholder="<%= smtpFromAddress %>" required>
        
        <button type="submit" class="mt-6 block rounded-lg bg-white px-3 py-2 text-sm font-semibold text-neutral-800 shadow-lg hover:bg-neutral-200 transition focus:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500">Save SMTP Settings</button>
      </form>

      <!-- Test SMTP Settings Form -->
      <form action="/sendTestEmail" method="POST">
        <label for="recipientEmail" class="text-neutral-400 text-sm block mt-6">Recipient Email:</label>
        <input type="email" id="recipientEmail" name="recipientEmail" class="rounded-lg focus:ring-transparent focus:border-transparent text-white text-sm mt-2 w-full px-4 py-2 border-white/5 bg-neutral-900" required>
        <button type="submit" class="mt-4 block rounded-lg bg-blue-500 text-white px-3 py-2 text-sm font-semibold shadow-lg hover:bg-blue-600 transition focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500">Send Test Email</button>
        <% if (req.query.msg && req.query.msg == "TestemailSentsuccess") { %>
          <div class="mt-2"></div>
          <span class="text-emerald-600 pt-8 font-normal text-sm">Test Mail Sent Successfully, Your SMTP Server Working!.</span>
        <% } %>
        <% if (req.query.err && req.query.err == "TestemailSentfailed") { %>
          <div class="mt-2"></div>
          <span class="text-red-500 pt-4 font-normal text-sm">Test Mail Sent Failed, Please Check your smtp setting and try again.</span>
        <% } %>
      </form>
    </div>
  </div>
</main>

<script>
  // Toggle image upload box visibility
  document.getElementById('useImage').addEventListener('change', function() {
    const imageUploadBox = document.getElementById('imageUploadBox');
    const logoButton = document.getElementById('logoButton');
    const logoType = document.getElementById('logoType');
    
    if (this.checked) {
      imageUploadBox.classList.remove('hidden');
      logoButton.textContent = 'Save New Logo';
      logoType.value = 'image';
    } else {
      imageUploadBox.classList.add('hidden');
      logoButton.textContent = 'Remove Logo';
      logoType.value = 'none';
    }
  });
</script>

<%- include('../components/footer') %>
