<div class="mt-8 ml-8 mb-8">
    <div>
       <div class="hidden sm:block">
          <nav class="flex border-b border-white/5 py-4">
             <ul role="list" class="flex min-w-full flex-none gap-x-6 px-2 text-sm font-semibold leading-6 text-neutral-500">
                <li class="hover:scale-105 transition">
                   <a href="/instance/<%= req.params.id %>" class="nav-link2">Overview</a>
                </li>
                <li class="hover:scale-105 transition">
                   <a href="/instance/<%= req.params.id %>/files" class="nav-link2">Files</a>
                </li>
                <li class="hover:scale-105 transition">
                   <a href="/instance/<%= req.params.id %>/network" class="nav-link2">Network</a>
                </li>
                <li class="hover:scale-105 transition">
                   <a href="/instance/<%= req.params.id %>/sftp" class="nav-link2">SFTP</a>
                </li>
                <li class="hover:scale-105 transition">
                   <a href="/instance/<%= req.params.id %>/settings" class="nav-link2">Settings</a>
                </li>
             </ul>
          </nav>
       </div>
    </div>
 </div>
 <script>
   document.addEventListener("DOMContentLoaded", function() {
     // Use window.location.pathname to focus on the path part of the URL
     var currentPagePath = window.location.pathname;
   
     // Get all navigation links
     var navLinks2 = document.querySelectorAll('.nav-link2');
   
     // Loop through each navigation link
     navLinks2.forEach(function(link) {
       // Get the href attribute of the link and adjust the relative path
       var linkPath = new URL(link.getAttribute('href'), window.location.origin).pathname;
   
       // Debugging outputs to see the paths being compared
       console.log(currentPagePath);
       console.log(linkPath);
   
       // Check if the current page path matches the link path
       if (currentPagePath === linkPath) {
         // Remove all existing classes
         link.className = 'nav-link';
   
         // Add the specified classes
         link.classList.add('text-white', 'font-semibold');
       }
     });
   });
   </script>
   