<%- include('components/template') %>
<main>
    <div class="bg-transparent">
        <div class="sm:flex sm:items-center px-8 pt-4">
           <div class="sm:flex-auto">
              <h1 class="text-base font-semibold leading-6 text-white">Manage Instance</h1>
              <p class="mt-1 tracking-tight text-sm text-neutral-500">View, update and manage an instance on the Skyport panel.</p>
           </div>
           <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex">
              <button id="startButton" type="button" class="block rounded-lg bg-white px-3 py-2 text-center text-sm font-semibold text-neutral-800 shadow-lg hover:bg-neutral-200 transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Create File
              </button>
           </div>
        </div>
    </div>
    <%- include('components/instance') %>
    <div class="px-4 sm:px-6 lg:px-8">
       <h1 class="text-white text-sm">Directory: <a class="text-neutral-300 hover:text-neutral-200 transition" href="./files">/app/data/</a><%= req.query.path %></h1>
       <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-6">
       <% files.filter(file => file.isDirectory).forEach(function(directory) { %>
         <% let currentPath; %>
         <% if (req.query.path) { %>
            <% currentPath = req.query.path + '/' %>
         <% } else { %>
            <% currentPath = '' %>
         <% } %>
         <a href="/instance/<%= req.params.id %>/files?path=<%= currentPath %><%= directory.name %>" class="p-3 hover:bg-[#171717] hover:scale-105 transition bg-transparent shadow-xl border border-white/5 rounded-lg overflow-hidden sm:p-3 lg:p-5">
            <div class="lg:flex lg:items-center lg:justify-between">
               <div class="min-w-0 flex-1">
                  <h2 class="text-md font-medium text-white tracking-tight">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mb-0.5 inline-flex mr-1.5">
                        <path d="M3.75 3A1.75 1.75 0 0 0 2 4.75v3.26a3.235 3.235 0 0 1 1.75-.51h12.5c.644 0 1.245.188 1.75.51V6.75A1.75 1.75 0 0 0 16.25 5h-4.836a.25.25 0 0 1-.177-.073L9.823 3.513A1.75 1.75 0 0 0 8.586 3H3.75ZM3.75 9A1.75 1.75 0 0 0 2 10.75v4.5c0 .966.784 1.75 1.75 1.75h12.5A1.75 1.75 0 0 0 18 15.25v-4.5A1.75 1.75 0 0 0 16.25 9H3.75Z" />
                      </svg>
                      <%= directory.name %>
                  </h2>
               </div>
            </div>
         </a>
       <% }); %>
       </dl>
       <table class="min-w-full mt-5 table-auto border-separate border border-white/5 shadow rounded-xl">
          <thead class="text-white">
             <tr>
                <th class="px-6 py-3 text-left">File Name</th>
                <th class="px-6 py-3 text-left">&nbsp;</th>
             </tr>
          </thead>
          <tbody>
            <% files.filter(file => !file.isDirectory).forEach(function(file) { %>
               <% let extension; %>
               <% if (req.query.path) { %>
                  <% extension = '?path=' + req.query.path %>
               <% } else { %>
                  <% extension = '' %>
               <% } %>
              <tr onclick="window.location.href = '/instance/<%= req.params.id %>/files/view/<%= file.name %><%= extension %>'" class="bg-transparent rounded-xl hover:bg-neutral-700/5 cursor-pointer transition border-none">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white border-none"><%= file.name %></td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium border-none">
                  <a class="text-red-500 hover:text-red-400 transition">Delete</a>
                </td>
              </tr>
            <% }); %>
          </tbody>
       </table>
    </div>
</main>
<%- include('components/footer') %>
