<%- include('../components/template') %>
<main id="content" class="min-h-screen text-white">
   <div class="bg-transparent">
      <div class="sm:flex sm:items-center px-8 pt-4">
         <div class="sm:flex-auto">
            <h1 class="text-base font-medium leading-6">Manage Instance</h1>
            <p class="mt-1 text-sm text-neutral-500">View, update, and manage an instance on the Skyport panel.</p>
         </div>
         <% let query = req.query.path ? '?path=' + req.query.path : ''; %>
         <div class="mt-4 sm:ml-16 sm:mt-0 flex space-x-4">
            <button onclick="createArchive()" class="block rounded-xl bg-white px-4 py-2 text-center text-sm font-medium text-neutral-800 shadow-lg hover:bg-neutral-200 transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Create Backup
            </button>
            <input type="file" id="fileInput" multiple style="display: none;">
         </div>
      </div>
   </div>

   <%- include('../components/instance') %>
   <div class="px-4 sm:px-6 lg:px-8">
      <table class="min-w-full mt-5 table-auto border-separate border border-white/5 shadow rounded-xl">
         <thead class="text-white">
            <tr>
               <th class="px-6 py-3 text-left">Name</th>
               <th class="px-6 py-3 text-left">Size</th>
               <th class="px-6 py-3 text-left">Created on</th>
               <th class="px-6 py-3 text-left">Actions</th>
            </tr>
         </thead>
         <tbody>
            <% archives.forEach(function(archive) { %>
               <tr class="bg-transparent rounded-xl hover:bg-neutral-700/5 cursor-pointer transition border-none">
                  <td class="px-6 py-4 whitespace-nowrap font-mono text-sm font-medium text-white border-none">
                      <%= archive.name.replace(req.params.id + '-', '') %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-neutral-300 border-none">
                      <%= archive.size %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-neutral-300 border-none">
                      <%= archive.lastUpdated %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-neutral-300 border-none">
                     <span class="bg-white/5 text-neutral-300 px-3 py-1.5 rounded-xl cursor-pointer" onclick="restoreArchive('<%= archive.name %>')">Restore</span>
                     <span class="bg-red-600 text-neutral-300 px-2 py-1.5 rounded-xl cursor-pointer ml-2" onclick="deleteArchive('<%= archive.name %>')">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 mb-0.5 inline-flex mr-1">
                           <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                        </svg>
                     </span>
                  </td>
               </tr>
            <% }); %>
         </tbody>
      </table>
   </div>
</main>
<%- include('../components/footer') %>

<script>
async function createArchive() {
    const instanceId = '<%= req.params.id %>';
    try {
        const response = await fetch(`/instance/${instanceId}/archives/create`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        });
        if (response.ok) {
            alert('Archive created successfully!');
            window.location.href = `/instance/${instanceId}/archives`;
        } else {
            alert('Error creating archive: ' + response.statusText);
        }
    } catch (error) {
        console.error('Error during POST request:', error);
        alert('An error occurred.');
    }
}

async function restoreArchive(archiveName) {
    const instanceId = '<%= req.params.id %>';
    try {
        const response = await fetch(`/instance/${instanceId}/archives/rollback/${encodeURIComponent(archiveName)}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ archivename: archiveName })
        });
        if (response.ok) {
            alert('Archive restored successfully!');
            window.location.href = `/instance/${instanceId}/archives`;
        } else {
            alert('Error restoring archive: ' + response.statusText);
        }
    } catch (error) {
        console.error('Error during POST request:', error);
        alert('An error occurred.');
    }
}

async function deleteArchive(archiveName) {
    const instanceId = '<%= req.params.id %>';
    try {
        const response = await fetch(`/instance/${instanceId}/archives/delete/${encodeURIComponent(archiveName)}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ archivename: archiveName })
        });
        if (response.ok) {
            alert('Archive deleted successfully!');
            window.location.href = `/instance/${instanceId}/archives`;
        } else {
            alert('Error deleting archive: ' + response.statusText);
        }
    } catch (error) {
        console.error('Error during POST request:', error);
        alert('An error occurred.');
    }
}
</script>
