<%- include('../components/template') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.0/min/vs/loader.js"></script>
<main id="content">
    <div class="bg-transparent">
        <div class="sm:flex sm:items-center px-8 pt-4">
           <div class="sm:flex-auto">
              <h1 class="text-base font-medium leading-6 text-white">Manage Instance</h1>
              <p class="mt-1 tracking-tight text-sm text-neutral-500">View, update and manage an instance on the Skyport panel.</p>
           </div>
        </div>
    </div>
    <%- include('../components/instance') %>

    <% let query = req.query.path ? '?path=' + req.query.path : ''; %>
    <div class="flex">
        <h1 class="text-neutral-200 text-md px-8"><a class="text-neutral-400 hover:text-neutral-300 transition" href="../">/app/data/<%= req.query.path %></a>
            <input
            id="filename"
            type="text"
            name="filename"
            class="rounded-xl focus:ring-transparent focus:border-transparent text-white inline-flex ml-2 text-sm mt-2 mb-6 w-96 items-center transition justify-left gap-16 hover:bg-white/5 px-4 py-2 border-white/5 bg-neutral-600/20 placeholder:text-white/20 text-white border border-black/10"
            placeholder="file.txt"
          />
        </h1>
    </div>

    <div class="pt-4 overflow-hidden" style="height: 500px;" id="editor"></div>
        <div class="flex mt-8 space-x-4">
        <a href="/instance/<%= req.params.id %>/files" type="button" class="block ml-8 rounded-xl bg-transparent border border-white/5 hover:bg-neutral-600/10 px-3 py-2 text-center text-sm font-normal text-neutral-300 shadow-lg transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Back
        </a>
        <button id="saveButton" onclick="saveFile()" type="button" class="block rounded-xl <%= theme['button-color'] %> px-3 py-2 text-center text-sm font-medium shadow-lg transition focus:outline focus:outline-2 focus:outline-offset-2">
            Create File
        </button>
    </div>

<script>
require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.0/min/vs' }});
require(['vs/editor/editor.main'], function () {
    var editor = monaco.editor.create(document.getElementById('editor'), {
        theme: 'vs-dark'
    });
    window.editor = editor;
});

function saveFile() {
    var button = document.getElementById('saveButton');
    button.disabled = true;
    button.textContent = 'Working on it...';
    var fileContent = window.editor.getValue();
    var instanceId = <%- JSON.stringify(req.params.id) %>;
    const filename = document.getElementById('filename').value;

    fetch(`/instance/${instanceId}/files/create/${filename}<%= query %>`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            content: fileContent
        })
    }).then(response => response.json())
      .then(data => {
          if (data && data.message) {
              button.textContent = 'Done!';
              setTimeout(() => {
                  button.disabled = false;
                  button.textContent = 'Create File';
              }, 1000);
          } else {
              alert('Error creating file');
              button.disabled = false;
              button.textContent = 'Create File';
          }
      })
      .catch(error => {
          console.error('Error:', error);
          alert('Failed to create the file.');
          button.disabled = false;
          button.textContent = 'Create File';
      });
}
</script>
</main>
<%- include('../components/footer') %>