<%- include('../components/template') %>
<main id="content">
    <div class="bg-transparent">
        <div class="sm:flex sm:items-center px-8 pt-4">
            <div class="sm:flex-auto">
                <h1 class="text-base font-medium leading-6 text-white">Manage Instance</h1>
                <p class="mt-1 tracking-tight text-sm text-neutral-500">View, update, and manage an instance on the Skyport panel.</p>
            </div>
            <div class="mt-4 sm:ml-8 sm:mt-0 sm:flex-none">
                <button id="addSubuser" type="button" class="block rounded-xl <%= theme['button-color'] %> px-3 py-2 text-center text-sm font-medium shadow-lg transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add User</button>
            </div>
        </div>
    </div>
    <div id="createUserModal" class="fixed inset-0 bg-black bg-opacity-50 z-50 flex items-center justify-center opacity-0 pointer-events-none transition-opacity duration-300">
        <div class="bg-white rounded-xl p-8 max-w-md w-full transform scale-95 transition-transform duration-300">
            <div class="relative">
                <h2 class="text-2xl font-medium mb-1 text-neutral-800">Add User</h2>
                <p class="mb-6 text-neutral-600">Add a sub-user to this instance.</p>
            </div>
            <form action="/instance/<%= req.params.id %>/users/add" method="POST" class="space-y-4">
                <div>
                    <input type="text" id="username" name="username" class="w-full px-3 py-2 border border-neutral-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-neutral-500 focus:border-neutral-500 transition mb-4" placeholder="Enter a username" required>
                </div>
                <div>
                    <button type="submit" class="px-5 py-2 bg-neutral-800 text-white rounded-xl hover:bg-neutral-700 transition">Add User</button>
                </div>
            </form>
        </div>
    </div>
    <%- include('../components/instance') %>
    <div class="px-4 sm:px-6 lg:px-8">
        <table class="min-w-full mt-5 table-auto border-separate border border-white/5 shadow rounded-xl">
            <thead class="text-white">
                <tr>
                    <th class="px-6 py-3 text-left">User Name</th>
                    <th class="px-6 py-3 text-left">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user) { %>
                    <tr class="bg-transparent rounded-xl hover:bg-neutral-700/5 cursor-pointer transition border-none">
                        <td class="px-6 py-4 whitespace-nowrap font-mono text-sm font-medium text-white border-none">
                            <%= user.username %><span class="text-neutral-300">(<%= user.userId %>)</span>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap font-mono text-sm text-white border-none">
                            <button class="text-white bg-red-600 px-3 py-1.5 rounded-xl text-sm" onclick="location.href='/instance/<%= req.params.id %>/users/remove/<%= user.username %>'">Remove</button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</main>
<%- include('../components/footer') %>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const addSubuserButton = document.getElementById('addSubuser');
        const createUserModal = document.getElementById('createUserModal');
        const closeModalButton = document.getElementById('closeModal');

        function openModal() {
            createUserModal.classList.remove('opacity-0', 'pointer-events-none');
            createUserModal.querySelector('div').classList.remove('scale-95');
            createUserModal.querySelector('div').classList.add('scale-100');
        }

        function closeModal() {
            createUserModal.classList.add('opacity-0', 'pointer-events-none');
            createUserModal.querySelector('div').classList.remove('scale-100');
            createUserModal.querySelector('div').classList.add('scale-95');
        }

        addSubuserButton.addEventListener('click', openModal);
        closeModalButton.addEventListener('click', closeModal);

        window.addEventListener('click', function(event) {
            if (event.target === createUserModal) {
                closeModal();
            }
        });

        createUserModal.querySelector('div').addEventListener('click', function(event) {
            event.stopPropagation();
        });
    });
</script>