<%- include('../../components/template') %>
<main id="content">
   <div class="bg-transparent">
      <div class="sm:flex sm:items-center px-8 pt-4">
         <div class="sm:flex-auto">
            <h1 class="text-base font-medium leading-6 text-white"><%= req.translations.settings %></h1>
            <p class="mt-1 tracking-tight text-sm text-neutral-500"><%= req.translations.changeSettings %></p>
         </div>
      </div>
   </div>
   <%- include('../../components/settings') %>
   <!--div class="grid grid-cols-1 md:lg:grid-cols-2 gap-2 md-lg"-->
   <div class="flex flex-col bg-white/5 m-8 pt-0 py-5 rounded-xl">
      <h1 class="text-white text-[18px] px-5 p-1 py-4 mb-1 w-full bg-white/5 rounded-t-xl font-medium"><%= req.translations.general %></h1>
      <div class="grid grid-cols-3">
         <div id="changenameform" class="mt-4 ml-5">
            <form action="/admin/settings/change/name" method="POST">
               <label for="name" class="text-neutral-400 text-sm tracking-tight mb-2"><%= req.translations.panelName %></label>
               <input id="name" name="name" type="text" class="rounded-xl focus:ring-transparent focus:border-transparent text-white text-sm mt-2 w-88 items-center transition justify-left gap-16 hover:bg-white/5 px-4 py-2 flex border-white/5 bg-white/5 placeholder:text-white/20 text-white border border-black/10" value="<%= name %>" placeholder="<%= name %>" required>
               <button id="Save-Name" type="submit" class="mt-6 block rounded-xl bg-white px-3 py-2 text-center text-sm font-medium text-neutral-800 shadow-lg hover:bg-neutral-200 transition focus:outline focus:outline-2 focus:outline-offset-2"><%= req.translations.save %></button>
            </form>
         </div>
         <div id="changelogoform" class="mt-6 ml-5">
            <label for="name" class="text-neutral-400 text-sm tracking-tight mb-2"><%= req.translations.panelLogo %></label>
            <form action="/admin/settings/change/logo" class="mt-4" method="POST" enctype="multipart/form-data">
               <div class="flex items-center mb-4">
                  <input id="useImage" name="useImage" type="checkbox" class="w-4 h-4 text-neutral-600 bg-transparent border-white/5 rounded focus:ring-neutral-500 focus:ring-2">
                  <label for="useImage" class="ml-2 text-sm font-medium text-neutral-400"><%= req.translations.image %></label>
               </div>
               <div id="imageUploadBox" class="hidden mb-4">
                  <label for="logo" class="text-neutral-400 text-sm tracking-tight mb-2"><%= req.translations.uploadLogo %></label>
                  <input type="file" name="logo" id="logo" accept="image/*" class="block w-full text-sm text-neutral-400 file:mr-4 file:py-2 file:px-4 file:rounded-xl file:border-0 file:text-sm file:font-medium file:bg-white/5 file:text-neutral-300 hover:file:bg-white/10 transition">
               </div>
               <input type="hidden" name="type" id="logoType" value="none">
               <button id="logoButton" type="submit" class="mt-6 block rounded-xl bg-white px-3 py-2 text-center text-sm font-medium text-neutral-800 shadow-lg hover:bg-neutral-200 transition focus:outline focus:outline-2 focus:outline-offset-2"><%= req.translations.removeLogo %></button>
            </form>
         </div>
         <div id="registerpage" class="mt-6">
            <form action="/admin/settings/toggle/register" method="POST">
               <div class="flex items-center mb-2">
                  <% if (settings.register === true) { %>
                  <span class="text-neutral-400 text-sm tracking-tight mb-2"><%= req.translations.registerPage %> <span class="font-medium text-green-500"><%= req.translations.enabled %></span></span>
                  <% } else { %>
                  <span class="text-neutral-400 text-sm tracking-tight mb-2"><%= req.translations.registerPage %> <span class="font-medium text-red-500"><%= req.translations.disabled %></span></span>
                  <% } %>
               </div>
               <div class="flex flex-row">
                  <% if (settings.register === true) { %>  
                  <button id="toggleregister" type="submit" class="block rounded-l-lg bg-white px-3 py-2 text-sm font-medium text-neutral-800 shadow-lg hover:bg-neutral-200 transition focus:outline focus:outline-2 focus:outline-offset-2"><%= req.translations.disable %></button>
                  <button id="toggleregister" type="submit" class="block rounded-r-lg bg-green-600 px-3 py-2 text-sm font-medium text-white shadow-lg hover:bg-green-500 transition focus:outline focus:outline-2 focus:outline-offset-2 opacity-[0.7]" disabled><%= req.translations.enable %></button>
                  <% } else { %>
                  <button id="toggleregister" type="submit" class="block rounded-l-lg bg-red-600 px-3 py-2 text-sm font-medium text-white shadow-lg hover:bg-red-500 transition focus:outline focus:outline-2 focus:outline-offset-2 opacity-[0.7]" disabled><%= req.translations.disable %></button>
                  <button id="toggleregister" type="submit" class="block rounded-r-lg bg-white px-3 py-2 text-sm font-medium text-neutral-800 shadow-lg hover:bg-neutral-200 transition focus:outline focus:outline-2 focus:outline-offset-2"><%= req.translations.enable %></button>
                  <% } %>  
               </div>
            </form>
            <div id="forceverifyform" class="mt-4 mb-4">
               <form action="/admin/settings/toggle/force-verify" method="POST">
                  <div class="flex items-center mb-2 mt-4">
                     <% if (settings.forceVerify === true) { %>
                     <span class="text-neutral-400 text-sm tracking-tight mb-2"><%= req.translations.forceVerifyEmail %> <span class="font-medium text-green-500"><%= req.translations.enabled %></span></span>
                     <% } else { %>
                     <span class="text-neutral-400 text-sm tracking-tight mb-2"><%= req.translations.forceVerifyEmail %> <span class="font-medium text-red-500"><%= req.translations.disabled %></span></span>
                     <% } %>
                  </div>
                  <div class="flex flex-row">
                     <% if (settings.forceVerify === true) { %>
                     <button id="toggleforceverify" type="submit" class="block rounded-l-lg bg-white px-3 py-2 text-sm font-medium text-neutral-800 shadow-lg hover:bg-neutral-200 transition focus:outline focus:outline-2 focus:outline-offset-2"><%= req.translations.disable %></button>
                     <button id="toggleforceverify" type="submit" class="block rounded-r-lg bg-green-600 px-3 py-2 text-sm font-medium text-white shadow-lg hover:bg-green-500 transition focus:outline focus:outline-2 focus:outline-offset-2 opacity-[0.7]" disabled><%= req.translations.enable %></button>
                     <% } else { %>
                     <button id="toggleforceverify" type="submit" class="block rounded-l-lg bg-red-600 px-3 py-2 text-sm font-medium text-white shadow-lg hover:bg-red-500 transition focus:outline focus:outline-2 focus:outline-offset-2 opacity-[0.7]" disabled><%= req.translations.disable %></button>
                     <button id="toggleforceverify" type="submit" class="block rounded-r-lg bg-white px-3 py-2 text-sm font-medium text-neutral-800 shadow-lg hover:bg-neutral-200 transition focus:outline focus:outline-2 focus:outline-offset-2"><%= req.translations.enable %></button>
                     <% } %>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <!--/div-->
   </div>
</main>
<%- include('../../components/footer') %>
<script>
   document.getElementById('useImage').addEventListener('change', function() {
     const imageUploadBox = document.getElementById('imageUploadBox');
     const logoButton = document.getElementById('logoButton');
     const logoType = document.getElementById('logoType');
     
     if (this.checked) {
       imageUploadBox.classList.remove('hidden');
       logoButton.textContent = '<%= req.translations.saveNewLogo %>';
       logoType.value = 'image';
     } else {
       imageUploadBox.classList.add('hidden');
       logoButton.textContent = '<%= req.translations.removeLogo %>';
       logoType.value = 'none';
     }
   });
</script>